body {
    background-color: #F5E7CB;
    font-size: 18px;
  }
  
  header,
  nav,
  main,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }
  
  header {
    background-color: #DE9787;
    font-family: 'Ubuntu', sans-serif;
    color: #04395E;
    border: 1px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
 .footer{
    color:#DE9787;
  }
  li{
    color:#04395E;
  }
  .primary{
      color: #F5E7CB;
      
  }
  .secondary{
      color: #04395E;
  }
  .accent1{
      color: #DE9787;
  }
  .accent2{
      color:#70A288;
  }
  p.accent2{
    color: #F5E7CB;
    background-color: #04395E;
  }
  .heading-font{
    font-family: 'Ubuntu', sans-serif;
  }
  .paragraph-font{
    font-family: 'Open Sans', sans-serif;
  }
  nav {
    text-align: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border: 1rem;
    letter-spacing: 2px;
    list-style: none;
  }
  a {
    color: #70A288;
    text-decoration: underline;
    font-weight: bold;
  }
  .spreadAwareness{
    color: #04395E;

  }
  .menu1{
    padding: 1rem;
    font-size: x-large;
  }  
  .menu2{
    padding: 1rem;
    font-size: x-large;
  }
  .menu3{
    padding: 1rem;
    font-size: x-large;
  }
  .menu4{
    padding: 1rem;
    font-size: x-large;
  }
  p{
    color: #04395E;
  }
  h1{
  color:#04395E
  }
  h2{
    color: #DE9787;
    background-color: #F5E7CB;  
  }
  h3{
    color: #DE9787;
    background-color: #F5E7CB
  }
  .logo{
    width: 40px;
    height: auto;
  }
   .heading{
    display: flex;
  }
  .button{
    background-color: #04395E; 
    border: none;
    color: #F5E7CB;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
  }
  .button:hover{
    background-color: #70A288 ;
  }
  


  @media screen and (max-width: 550px) {
    .home-grid {
      display: block;
    }
    .faq-grid{
      display: block;
    }
    .blog-grid{
      display: block;
    }
  }