body {
  background-color: #c8cbc0;
  font-size: 16px;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #072f37;
  font-family: "Roboto Condensed", sans-serif;
  color: #bd7523;
  border: 1px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.heading h1 {
  font-size: 2rem;
  margin: 0;
}
.motto {
  font-style: italic;
  font-size: 1rem;
  color: #c8cbc0;
}
nav ul{
  display: flex;
  flex-direction: row;
  margin:1rem;
  padding:1rem;
  letter-spacing: 3px;
  list-style: none;
}
.raftinglogo {
  width: 300px;
  height: auto;
}
a {
  color: #334e3b;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #bd7523;
}
.raftingimage {
  width: 900px;
  height: auto;
}
.riverimage {
  width: 300px;
  height: auto;
}
p {
  background-color: #072f37;
  color: #c8cbc0;
  display: flex;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}
h2 {
  color: #bd7523;
  font-family: "Roboto Condensed", sans-serif;
}
.logo {
  width: 40px;
  height: auto;
}
