body {
    background-color: rgb(171, 201, 221);
  }
h1{
    color:rgb(46, 48, 48);
}
p{
    font-weight: bolder;
    color:rgb(116, 86, 5);
}
ul{
    color:#FFFFFF
}
a{
    text-decoration: none;
    color:rgb(116, 86, 5)
}
a:hover{
    color:#B6B9BA;
}
footer{
    color:black ;
}