body {
  background-color: #FBF6EC;
  font-size: 18px;
}
header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}
header {
  background-color: #C37B6B;
  font-family: "Ubuntu", sans-serif;
  color: #04395e;
  border: 1px;
  padding: 5px;
}
p.footer{
  color: #3E594B;
}

.heading h1 {
  max-width: 900px;
  margin: 0px;
  padding-left: 300px;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}
.motto {
  margin: 30px;
  border: 5px;
  padding-left: 350px;
  background-color: #FBF6EC;
}
.banner {
  display: flex;
  margin: auto;
}

.footer {
  color: #C37B6B;
}
li {
  color: #04395e;
}
.primary {
  color: #FBF6EC;
}
.secondary {
  color: #04395e;
}
.accent1 {
  color: #C37B6B;
}
.accent2 {
  color: #3E594B;
}
p.accent2 {
  color: #FBF6EC;
  background-color: #04395e;
}
.heading-font {
  font-family: "Ubuntu", sans-serif;
}
.paragraph-font {
  font-family: "Open Sans", sans-serif;
}
nav {
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  border: 1rem;
  letter-spacing: 2px;
  list-style: none;
}
a {
  color: #3E594B;
  text-decoration: underline;
  font-weight: bold;
}
.spreadAwareness {
  color: #04395e;
}
.menu1 {
  padding: 1rem;
  font-size: x-large;
}
.menu2 {
  padding: 1rem;
  font-size: x-large;
}
.menu3 {
  padding: 1rem;
  font-size: x-large;
}
.menu4 {
  padding: 1rem;
  font-size: x-large;
}
p {
  color: #04395e;
}
h1 {
  color: #04395e;
}
h2 {
  color: #C37B6B;
  background-color: #FBF6EC;
}
h3 {
  color: #C37B6B;
  background-color: #FBF6EC;
}
.logo {
  width: 40px;
  height: auto;
}

.button {
  background-color: #04395e;
  border: none;
  color: #FBF6EC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}
.button:hover {
  background-color: #3E594B;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}
.home1 {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  margin: 1px;
}
.home2 {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  margin: 1px;
}
.home3 {
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
  margin: 1px;
}
.home4 {
  grid-column: 1 / -1;
  grid-row: 5 / span 1;
  margin: 1px;
}
.blog-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
img.hospital_ER {
  margin: 10px;
  padding: 9px;
  transform: rotate(-90deg);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
img.hospital_fun {
  margin: 10px;
  padding: 9px;
  transform: rotate(-90deg);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
img.hospital_room {
  margin: 10px;
  padding: 9px;
  transform: rotate(90deg);
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.unlikely1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
img.roommate {
  margin: 10px;
  padding: 9px;
  transform: rotate(-90deg);
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.unlikely2 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
img.friendship {
  margin: 10px;
  padding: 9px;
  transform: rotate(90deg);
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
img.newYears {
  margin: 10px;
  padding: 9px;
  transform: rotate(-90deg);
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
img.thanksgiving {
  margin: 10px;
  padding: 9px;
  transform: rotate(-90deg);
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.blog-head2 {
  padding-top: 20px;
}
.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.yellow-scrunchie {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.teal-octopus {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.turtle {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.green-headband {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04395e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #3E594B;
}

div.form {
  border-radius: 5px;
  background-color: #FBF6EC;
  padding: 20px;
  color: #3E594B;
  font-weight: bold;
}
.awareness-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
img.eds{
  grid-column: 1 / span 1;
}
img.thyroid{
  grid-column: 2 / span 1;
}
img.neda{
  grid-column: 3 / span 1;
}
img.rainn{
  grid-column: 4 / span 1;
}

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }
  .shop-grid {
    display: block;
  }
  .blog-grid {
    display: block;
  }
  .shop-grid {
    display: block;
  }
}
